html,
body {
 height: 100%;
 position: relative;
 /* font-family: 'Orbitron', sans-serif; */
 font-family: 'Raleway', sans-serif;
 background-color: #0f0f0c;
 color: white;
}

.main-container {
 min-height: 100vh;
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 100px; 
}

footer {
 position: absolute;
 bottom: 0;
 width: 100%;
 font-family: 'Orbitron', sans-serif;
}

.logo {
  float: left;
}

.marginBtm {
  margin-bottom: .5em;
}

.hStyle {
  font-family: 'Orbitron', sans-serif;
  color: white;
  text-align: center;
  margin-top: 1em;
}

.primaryBtn {
  color: #0f0f0c;
  margin-bottom: .5em;
  background-color: #00803e;
  border: 1px solid #00803e;
}

.secondaryBtn {
  color: #00803e;
  margin-bottom: .5em;
  background-color: transparent;
  border: 1px solid #00803e;
}

.ant-btn-primary:hover, .ant-btn-primary:focus {
  color: #0f0f0c;
  background-color: #00c05d;
  border-color: #00c05d;
}

.ant-btn:hover, .ant-btn:focus {
  color: #0f0f0c;
  background-color: #00c05d;
  border-color: #00c05d;
}

/* .ant-input {
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  background-color: transparent !important;
  border-color: #00803e
} */

/* .ant-input:hover,
.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
  border-color: #00803e;
} */

.ant-row-flex {
  padding: 0px !important;
}

/* ===== Inputs ===== */

.ant-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-variant: tabular-nums;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
          font-feature-settings: 'tnum';
  position: relative;
  display: inline-block;
  width: 100%;
  height: 32px;
  padding: 4px 11px;
  /* color: rgba(0, 0, 0, 0.65); */
  color: white;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.5;
  /* background-color: #fff; */
  background-color: transparent !important;
  background-image: none;
  border: 1px solid #00803e;
  border-radius: 4px;
  /* -webkit-transition: all 0.3s;
  transition: all 0.3s; */
}
.ant-input::-moz-placeholder {
  color: #00803e;
  opacity: 1;
}
.ant-input:-ms-input-placeholder {
  color: #00803e;
}
.ant-input::-webkit-input-placeholder {
  color: #00803e;
}
.ant-input:hover {
  border-color: #00803e;
  border-right-width: 1px !important;
}
.ant-input:focus {
  border-color: #00803e;
  border-right-width: 1px !important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(0, 128, 62, .25);
          box-shadow: 0 0 0 2px rgba(0, 128, 62, .25);
}
.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
  border-color: #00803e;
  border-right-width: 1px !important;
}

/* ===== Tables ===== */

.ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td,
.ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td,
.ant-table-thead > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td,
.ant-table-tbody > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td {
  background: transparent;
}

/* ===== Log In ===== */

#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

/* ===== Stats ===== */

#shipName {
  margin-bottom: 2em;
  font-size: 1.25em;
  letter-spacing: 3px;
  font-family: 'Press Start 2P', monospace;
}

/* ===== Gameplay ===== */

/* image */

/* #gradient {
  background-image: linear-gradient(transparent ,#0f0f0c);
} */

#gradient img {
  width: 100%;
  height: 100%;
  max-height: 300px;
  object-fit: cover;
  overflow: hidden;
}

/* prompt */

#promptText {
  font-family: 'Press Start 2P', monospace;
  margin: 2em;
  /* margin-top: 1em; */
  /* margin-bottom: 2em; */
} 

.promptBtn {
  display: block;
  color: white;
  max-width: 200px;
  margin: auto !important;
}

/* ===== Tasks ===== */

#power {
  color: #00803e;
  font-family: 'Press Start 2P', monospace;
  font-size: 18pt;
}

.valueBtn {
  width: 75px;
  font-family: 'Press Start 2P', monospace;
  color: #00803e;
  background-color: transparent;
  border: 1px solid #00803e;
}

.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover,
.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled),
.ant-radio-button-wrapper:hover {
  color: #0f0f0c;
  background-color: #00c05d;
  border: 1px solid #00c05d;
  box-shadow: none;
}

.ant-btn-disabled, .ant-btn.disabled, .ant-btn[disabled], .ant-btn-disabled:hover, .ant-btn.disabled:hover, .ant-btn[disabled]:hover, .ant-btn-disabled:focus, .ant-btn.disabled:focus, .ant-btn[disabled]:focus, .ant-btn-disabled:active, .ant-btn.disabled:active, .ant-btn[disabled]:active, .ant-btn-disabled.active, .ant-btn.disabled.active, .ant-btn[disabled].active {
  color: #0f0f0c;
  background-color: #00803e;
  border-color: #00803e;
}

.ant-btn-primary-disabled, .ant-btn-primary.disabled, .ant-btn-primary[disabled], .ant-btn-primary-disabled:hover, .ant-btn-primary.disabled:hover, .ant-btn-primary[disabled]:hover, .ant-btn-primary-disabled:focus, .ant-btn-primary.disabled:focus, .ant-btn-primary[disabled]:focus, .ant-btn-primary-disabled:active, .ant-btn-primary.disabled:active, .ant-btn-primary[disabled]:active, .ant-btn-primary-disabled.active, .ant-btn-primary.disabled.active, .ant-btn-primary[disabled].active {
  color: #0f0f0c;
  background-color: #00803e;
  border-color: #00803e;
}