.ant-layout-footer {
    color: #00803e !important;
    font-size: 10px !important;
    letter-spacing: 3px !important;
    text-align: center !important;
    bottom: 0 !important;
    background-color: #0f0f0c !important;
}