.menuBar {
    /* background-image: linear-gradient(transparent, rgba(0, 128, 62, .25)); */
    /* background-image: linear-gradient(rgba(0, 128, 62, .25), transparent); */
    background-color: #181815;
    /* border-bottom: solid 1px #00803e; */
    overflow: auto;
}

.logo {
    float: left;
    margin: 16px 24px;
}

.logo a img {
    display: inline-block;
    width: 150px;
    /* max-height: 64px; */
}

.menuCon .ant-menu-item {
    padding: 0px 5px;
}

.menuCon .ant-menu-submenu-title {
    padding: 10px 20px;
}

.menuCon .ant-menu-item a,
.menuCon .ant-menu-submenu-title a {
    padding: 10px 15px;
}

.rightMenu > .ant-menu {   
    float: right;
    background-color: transparent !important;
}

.ant-menu-horizontal > .ant-menu-item > a {
    color: white !important;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 3px;

}

.ant-menu.item > a {
    color: white !important;
}

.ant-menu.item > a:hover {
    color: white !important;
    /* border-bottom: #00803e; */
}

.barsMenu {
    float: right;
    height: 32px;
    padding: 6px;
    margin-top: 8px;
    display: none !important;
    background: none;
}

.barsBtn {
    display: block;
    width: 20px;
    height: 2px;
    background: white;
    position: relative;
}

.barsBtn:after,
.barsBtn:before {
    content: attr(x);
    width: 20px;
    position: absolute;
    top: -6px;
    left: 0;
    height: 2px;
    background: white;
}

.barsBtn:after {
    top: auto;
    bottom: -6px;
}

.ant-drawer-content {
    background-color: transparent;
}

.ant-drawer-wrapper-body {
    background-color: #00803e;
    /* background-color: rgba(0, 0, 0, .5); */
}

.ant-drawer-body .ant-menu-horizontal>.ant-menu-item,
.ant-drawer-body .ant-menu-horizontal>.ant-menu-submenu {
    display: inline-block;
    width: 100%;
}

.ant-drawer-body .ant-menu-horizontal {
    border-bottom: none;
}

.ant-drawer-body .ant-menu-horizontal>.ant-menu-item:hover {
    border-bottom-color: transparent;
}

.ant-drawer-body > ul {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 3px;
    background-color: transparent;
}

.ant-menu-vertical {
    color: white;
    border-right: 0px none transparent !important;
}

.ant-menu-horizontal {
    border-bottom: 0px none transparent !important;
}

button.ant-btn.barsMenu.ant-btn-primary {
    background-color: transparent;
    border: none;
    margin: 16px 24px;
}

@media(max-width: 767px) {
    .barsMenu {
        display: inline-block !important;
    }

    .rightMenu {
        display: none;
    }

    .logo a {
        margin-left: -20px;
    }

    .menuCon .ant-menu-item,
    .menuCon .ant-menu-submenu-title {
        padding: 1px 20px;
    }

    .logo a {
        padding: 10px 20px;
    }
}