.ant-table-pagination.ant-pagination {
    display: none !important;
}

th {
    background-color: #00803e !important;
    color: white !important;
}

.ant-table-column-title {
    text-transform: uppercase;  
    font-weight: 900;
    color: #0f0f0c;
}

th {
    letter-spacing: 3px;
}

tr {
    color: white;
}